.btc-action_btn {
    font-weight: 600;
    color: #fff;
    background: #2a2a2b;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    margin-top: 8px;
    font-family:
        TwitterChirp,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif;
}
.btc-action_btn:hover {
    cursor: pointer;
}

.btc-action_icon {
    width: 400px;
    height: 400px;
    border-radius: 0.5rem;
}

.btc-action_title {
    font-weight: 600;
    font-size: 16px;
    margin-top: 8px;
    font-family:
        TwitterChirp,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif;
}

.btc-action_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:
        TwitterChirp,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif;
}

.btc-action_card {
    border-radius: 16px;
    border: 1px solid #d7d7d7;
    box-shadow: 0 0 #000 0 0 #000;
    background: #fff;
    padding: 10px;
    width: 400px;
    line-height: 1.5;
    color: #2a2a2b;
    font-family:
        TwitterChirp,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif;
}
.btc-action_card:hover {
    cursor: default;
}
